body{
    height: 1000px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}

@media screen and (min-width:375px) {
  
}
.header-box{
    text-align: center;
   padding: 10px;
   
}
section{
    padding: 5px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.col-1{
    flex-basis: 28%;
    position: relative;
    margin: 5px;
}
.col-2{
    flex-basis: 28%;
    position: relative;
    margin: 5px;
}
.col-3{
    flex-basis: 28%;
    position: relative;
    margin: 5px;
}

.box{
  
    text-align: center;
    display: inline-block;
    overflow: hidden;
   
border: solid rgb(240, 229, 229) 1px;
/* height: 200px;
width: 25%; */
padding: 0px 10px;
margin: 10px;
border-radius: 5px;
display: inline-block;

}
.box img {
    
    height: 300px;
    width: 600px;
    margin-left: 35%;
    margin-top: 30px;
    
}

#box-one{
    box-shadow: 5px  5px 15px gray;
    border-top: solid cyan 5px;
    

}#box-two{
    box-shadow: 10px  10px 40px gray;
    border-top: solid red 5px;
}
#box-three{
    box-shadow: 10px  10px 40px gray;
    border-top: solid orange 5px;
}
#box-four{
    box-shadow: 10px  10px 40px gray;
    border-top: solid blue 5px;
} 


.box img{
    height: 30px;
    width: 50px;
    
}
.main body{
    background-color: aqua;
    display: flex;
}